<p>
with a bump from up there on the ball. And Sally and I, We saw ALL the things fall! And our fish came down, too. He fell into a
pot! He said, “Do I like this? Oh, no! I do not. This is not a good game,” Said our fish as he lit. “No, I do not like it, Not one
little bit!” “Now look what you did!” Said the fish to the cat. “Now look at this house! Look at this! Look at that! You sank our
toy ship, Sank it deep in the cake. You shook up our house And you bent our new rake. You SHOULD NOT be here when our mother is not.
You get out of this house!” Said the fish in the pot. “But I like it here. Oh, I like it a lot!” Said the Cat in the Hat To the
fish in the pot. “I will NOT go away. I do NOT wish to go! And so,” said the Cat in the Hat, “So so so... I will show you Another
good game that I know!” And then he ran out. And then, fast as a fox, The Cat in the Hat Came back in with a box. A big red wood box.
It was shut with a hook. “Now look at this trick,” Said the cat. “Take a look!” Then he got up on top With a tip of his hat. “I call
this game FUN IN A BOX,” Said the cat. “In this box are two things I will show to you now. You will like these two things,” Said the
cat with a bow. “I will pick up the hook. You will see something new. Two things. And I call them Thing One and Thing Two. These things
will not bite you. They want to have fun.” Then, out of the box Came Thing Two and Thing One! And they ran to us fast. They said,
“How do you do? Would you like to shake hands With Thing One and Thing Two?” And Sally and I Did now know what to do. So we had to
shake hands With Thing One and Thing Two. We shook their two hands. But our fish said, “No! No! Those Things should not be In this house!
Make them go! “They should not be here When your mother is not! Put them out! Put them out!” Said the fish in the pot. “Have no fear,
little fish,” Said the Cat in the Hat. “These things are good Things.” And he gave them a pat. “They are tame. Oh, so tame! They
have come here to play. They will give you some fun On this wet, wet day.” “Now, here is a game that they like,” Said the cat.
“They like to fly kites,” Said the Cat in the Hat. “No! Not in the house!” Said the fish in the pot. “They should not fly kites In
a house! They should not. Oh, the things they will bump! Oh, the things they will hit! Oh, I do not like it! Not one little bit!”
Then Sally and I Saw them run down the hall. We saw those two Things Bump their kites on the wall! Bump! Thump! Thump! Bump! Down the
wall in the hall. Thing Two and Thing One! They ran up! They ran down! On the string of one kit We saw Mother’s new gown! Her gown
</p>
